In [1]:
# ELO Merchant Category Recommendation - Exploratory Data Analysis (Merchant.csv)

In [2]:
# Cell 1: Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc
from IPython.display import display

# Set the visualization style
sns.set(style="whitegrid")
plt.style.use('fivethirtyeight')


# Define data path - adjust as needed
DATA_PATH = '../data/raw/'  # Add your path here if needed

In [3]:
# Cell 2: Load Merchant Data
print("\n=== Loading Merchant Data ===")
merchant = pd.read_csv(DATA_PATH + 'merchants.csv')
print(f"Merchant dataset shape: {merchant.shape}")

=== Loading Merchant Data ===
Merchant dataset shape: (334696, 22)

In [4]:
# Cell 3: Basic Merchant Data Overview
print("\n=== Merchant Data Overview ===")
print(merchant.head())
print("\nColumn information:")
print(merchant.info())

=== Merchant Data Overview ===
       merchant_id  merchant_group_id  merchant_category_id  subsector_id  \
0  M_ID_838061e48c               8353                   792             9
1  M_ID_9339d880ad               3184                   840            20
2  M_ID_e726bbae1e                447                   690             1
3  M_ID_a70e9c5f81               5026                   792             9
4  M_ID_64456c37ce               2228                   222            21

   numerical_1  numerical_2 category_1 most_recent_sales_range  \
0    -0.057471    -0.057471          N                       E
1    -0.057471    -0.057471          N                       E
2    -0.057471    -0.057471          N                       E
3    -0.057471    -0.057471          Y                       E
4    -0.057471    -0.057471          Y                       E

  most_recent_purchases_range  avg_sales_lag3  ...  avg_sales_lag6  \
0                           E           -0.40  ...           -2.25
1                           E           -0.72  ...           -0.74
2                           E          -82.13  ...          -82.13
3                           E             NaN  ...             NaN
4                           E             NaN  ...             NaN

   avg_purchases_lag6  active_months_lag6  avg_sales_lag12  \
0           18.666667                   6            -2.32
1            1.291667                   6            -0.57
2          260.000000                   2           -82.13
3            4.666667                   6              NaN
4            0.361111                   6              NaN

   avg_purchases_lag12  active_months_lag12  category_4  city_id state_id  \
0            13.916667                   12           N      242        9
1             1.687500                   12           N       22       16
2           260.000000                    2           N       -1        5
3             3.833333                   12           Y       -1       -1
4             0.347222                   12           Y       -1       -1

   category_2
0         1.0
1         1.0
2         5.0
3         NaN
4         NaN

[5 rows x 22 columns]

Column information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334696 entries, 0 to 334695
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   merchant_id                  334696 non-null  object
 1   merchant_group_id            334696 non-null  int64
 2   merchant_category_id         334696 non-null  int64
 3   subsector_id                 334696 non-null  int64
 4   numerical_1                  334696 non-null  float64
 5   numerical_2                  334696 non-null  float64
 6   category_1                   334696 non-null  object
 7   most_recent_sales_range      334696 non-null  object
 8   most_recent_purchases_range  334696 non-null  object
 9   avg_sales_lag3               334683 non-null  float64
 10  avg_purchases_lag3           334696 non-null  float64
 11  active_months_lag3           334696 non-null  int64
 12  avg_sales_lag6               334683 non-null  float64
 13  avg_purchases_lag6           334696 non-null  float64
 14  active_months_lag6           334696 non-null  int64
 15  avg_sales_lag12              334683 non-null  float64
 16  avg_purchases_lag12          334696 non-null  float64
 17  active_months_lag12          334696 non-null  int64
 18  category_4                   334696 non-null  object
 19  city_id                      334696 non-null  int64
 20  state_id                     334696 non-null  int64
 21  category_2                   322809 non-null  float64
dtypes: float64(9), int64(8), object(5)
memory usage: 56.2+ MB
None

In [6]:
# Cell 4: Check Missing Values
print("\n=== Missing Values Analysis ===")
missing_values = merchant.isnull().sum().sort_values(ascending=False)
missing_percent = (merchant.isnull().sum() / merchant.shape[0] * 100).sort_values(ascending=False)
missing_df = pd.concat([missing_values, missing_percent], axis=1, keys=['Missing Values', 'Missing Percentage'])
print(missing_df[missing_df['Missing Values'] > 0])

=== Missing Values Analysis ===
                 Missing Values  Missing Percentage
category_2                11887            3.551581
avg_sales_lag3               13            0.003884
avg_sales_lag6               13            0.003884
avg_sales_lag12              13            0.003884

In [7]:
# Cell 5: Categorical Columns Analysis
print("\n=== Categorical Columns Analysis ===")
categorical_cols = merchant.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"\nColumn: {col}")
    print(merchant[col].value_counts(dropna=False))
    print(f"Unique values: {merchant[col].nunique()}")

=== Categorical Columns Analysis ===

Column: merchant_id
merchant_id
M_ID_dbbf07ebf0    4
M_ID_6464db3b45    4
M_ID_30340088f2    4
M_ID_d123532c72    4
M_ID_ebbdb42da6    4
                  ..
M_ID_3a5c276d84    1
M_ID_93490b5f91    1
M_ID_0997eb7ae1    1
M_ID_d41360c62c    1
M_ID_dd326c2f05    1
Name: count, Length: 334633, dtype: int64
Unique values: 334633

Column: category_1
category_1
N    327657
Y      7039
Name: count, dtype: int64
Unique values: 2

Column: most_recent_sales_range
most_recent_sales_range
E    177104
D    117475
C     34075
B      5037
A      1005
Name: count, dtype: int64
Unique values: 5

Column: most_recent_purchases_range
most_recent_purchases_range
E    175309
D    119187
C     34144
B      5046
A      1010
Name: count, dtype: int64
Unique values: 5

Column: category_4
category_4
N    238596
Y     96100
Name: count, dtype: int64
Unique values: 2

In [9]:
# Cell 12: Check for Duplicate Merchant IDs
print("\n=== Checking Duplicate Merchant IDs ===")

# Count occurrences of each merchant_id
id_counts = merchant['merchant_id'].value_counts()

# Print merchant_ids that appear more than once
duplicate_ids = id_counts[id_counts > 1]
print(f"Found {len(duplicate_ids)} merchant IDs with duplicates")
print(f"Total duplicate rows: {sum(duplicate_ids) - len(duplicate_ids)}")
print("\nTop duplicate merchant IDs:")
print(duplicate_ids.head(10))

# Get the full records of these duplicate merchant IDs for inspection
duplicate_merchants = merchant[merchant['merchant_id'].isin(duplicate_ids.index)]
duplicate_merchants = duplicate_merchants.sort_values('merchant_id')

# Check if the duplicate entries are completely identical or have differences
print("\nExample of duplicate entries for one merchant ID:")
example_id = duplicate_ids.index[0]
print(merchant[merchant['merchant_id'] == example_id])

# Check if duplicate entries differ in any columns
print("\nChecking for differences in duplicate entries:")
for merchant_id in duplicate_ids.index[:5]:  # Check first 5 duplicate IDs
    df_subset = merchant[merchant['merchant_id'] == merchant_id].reset_index(drop=True)
    print(f"\nMerchant ID: {merchant_id}, {len(df_subset)} occurrences")
    
    # Check if all rows are identical
    if df_subset.equals(pd.DataFrame([df_subset.iloc[0].values] * len(df_subset), columns=df_subset.columns)):
        print("  All entries are identical")
    else:
        # Find columns where values differ
        differing_cols = []
        for col in df_subset.columns:
            if not df_subset[col].equals(df_subset[col].iloc[0]):
                differing_cols.append(col)
        print(f"  Entries differ in columns: {differing_cols}")
        
        # Show the differing values
        for col in differing_cols:
            print(f"  Values in '{col}':")
            for i, value in enumerate(df_subset[col]):
                print(f"    Row {i}: {value}")

=== Checking Duplicate Merchant IDs ===
Found 41 merchant IDs with duplicates
Total duplicate rows: 63

Top duplicate merchant IDs:
merchant_id
M_ID_dbbf07ebf0    4
M_ID_6464db3b45    4
M_ID_30340088f2    4
M_ID_d123532c72    4
M_ID_ebbdb42da6    4
M_ID_42697d5d44    4
M_ID_1802942aaf    4
M_ID_c2b9ac2ea4    4
M_ID_ef233cff26    4
M_ID_992a180b15    4
Name: count, dtype: int64

Example of duplicate entries for one merchant ID:
          merchant_id  merchant_group_id  merchant_category_id  subsector_id  \
7584  M_ID_dbbf07ebf0              69462                   278            37
7585  M_ID_dbbf07ebf0                 35                   278            37
7586  M_ID_dbbf07ebf0              69462                   278            37
7587  M_ID_dbbf07ebf0                 35                   278            37

      numerical_1  numerical_2 category_1 most_recent_sales_range  \
7584    -0.057471    -0.057471          N                       E
7585    -0.057471    -0.057471          N                       E
7586    -0.047556    -0.047556          N                       D
7587    -0.047556    -0.047556          N                       D

     most_recent_purchases_range  avg_sales_lag3  ...  avg_sales_lag6  \
7584                           E           52.08  ...           75.36
7585                           E           52.08  ...           75.36
7586                           D            1.12  ...            1.23
7587                           D            1.12  ...            1.23

      avg_purchases_lag6  active_months_lag6  avg_sales_lag12  \
7584           68.000000                   6            82.95
7585           68.000000                   6            82.95
7586            1.234043                   6             1.30
7587            1.234043                   6             1.30

      avg_purchases_lag12  active_months_lag12  category_4  city_id state_id  \
7584              70.4500                   10           Y       17       22
7585              70.4500                   10           Y       17       22
7586               1.3125                   12           Y       17       22
7587               1.3125                   12           Y       17       22

      category_2
7584         4.0
7585         4.0
7586         4.0
7587         4.0

[4 rows x 22 columns]

Checking for differences in duplicate entries:

Merchant ID: M_ID_dbbf07ebf0, 4 occurrences
  Entries differ in columns: ['merchant_id', 'merchant_group_id', 'merchant_category_id', 'subsector_id', 'numerical_1', 'numerical_2', 'category_1', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id', 'state_id', 'category_2']
  Values in 'merchant_id':
    Row 0: M_ID_dbbf07ebf0
    Row 1: M_ID_dbbf07ebf0
    Row 2: M_ID_dbbf07ebf0
    Row 3: M_ID_dbbf07ebf0
  Values in 'merchant_group_id':
    Row 0: 69462
    Row 1: 35
    Row 2: 69462
    Row 3: 35
  Values in 'merchant_category_id':
    Row 0: 278
    Row 1: 278
    Row 2: 278
    Row 3: 278
  Values in 'subsector_id':
    Row 0: 37
    Row 1: 37
    Row 2: 37
    Row 3: 37
  Values in 'numerical_1':
    Row 0: -0.05747065
    Row 1: -0.05747065
    Row 2: -0.04755575
    Row 3: -0.04755575
  Values in 'numerical_2':
    Row 0: -0.05747065
    Row 1: -0.05747065
    Row 2: -0.04755575
    Row 3: -0.04755575
  Values in 'category_1':
    Row 0: N
    Row 1: N
    Row 2: N
    Row 3: N
  Values in 'most_recent_sales_range':
    Row 0: E
    Row 1: E
    Row 2: D
    Row 3: D
  Values in 'most_recent_purchases_range':
    Row 0: E
    Row 1: E
    Row 2: D
    Row 3: D
  Values in 'avg_sales_lag3':
    Row 0: 52.08
    Row 1: 52.08
    Row 2: 1.12
    Row 3: 1.12
  Values in 'avg_purchases_lag3':
    Row 0: 45.33333333
    Row 1: 45.33333333
    Row 2: 1.13297872
    Row 3: 1.13297872
  Values in 'active_months_lag3':
    Row 0: 3
    Row 1: 3
    Row 2: 3
    Row 3: 3
  Values in 'avg_sales_lag6':
    Row 0: 75.36
    Row 1: 75.36
    Row 2: 1.23
    Row 3: 1.23
  Values in 'avg_purchases_lag6':
    Row 0: 68.0
    Row 1: 68.0
    Row 2: 1.23404255
    Row 3: 1.23404255
  Values in 'active_months_lag6':
    Row 0: 6
    Row 1: 6
    Row 2: 6
    Row 3: 6
  Values in 'avg_sales_lag12':
    Row 0: 82.95
    Row 1: 82.95
    Row 2: 1.3
    Row 3: 1.3
  Values in 'avg_purchases_lag12':
    Row 0: 70.45
    Row 1: 70.45
    Row 2: 1.3125
    Row 3: 1.3125
  Values in 'active_months_lag12':
    Row 0: 10
    Row 1: 10
    Row 2: 12
    Row 3: 12
  Values in 'category_4':
    Row 0: Y
    Row 1: Y
    Row 2: Y
    Row 3: Y
  Values in 'city_id':
    Row 0: 17
    Row 1: 17
    Row 2: 17
    Row 3: 17
  Values in 'state_id':
    Row 0: 22
    Row 1: 22
    Row 2: 22
    Row 3: 22
  Values in 'category_2':
    Row 0: 4.0
    Row 1: 4.0
    Row 2: 4.0
    Row 3: 4.0

Merchant ID: M_ID_6464db3b45, 4 occurrences
  Entries differ in columns: ['merchant_id', 'merchant_group_id', 'merchant_category_id', 'subsector_id', 'numerical_1', 'numerical_2', 'category_1', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id', 'state_id', 'category_2']
  Values in 'merchant_id':
    Row 0: M_ID_6464db3b45
    Row 1: M_ID_6464db3b45
    Row 2: M_ID_6464db3b45
    Row 3: M_ID_6464db3b45
  Values in 'merchant_group_id':
    Row 0: 3604
    Row 1: 35
    Row 2: 3604
    Row 3: 35
  Values in 'merchant_category_id':
    Row 0: 210
    Row 1: 210
    Row 2: 210
    Row 3: 210
  Values in 'subsector_id':
    Row 0: 35
    Row 1: 35
    Row 2: 35
    Row 3: 35
  Values in 'numerical_1':
    Row 0: -0.05747065
    Row 1: -0.05747065
    Row 2: -0.05747065
    Row 3: -0.05747065
  Values in 'numerical_2':
    Row 0: -0.05747065
    Row 1: -0.05747065
    Row 2: -0.05747065
    Row 3: -0.05747065
  Values in 'category_1':
    Row 0: Y
    Row 1: Y
    Row 2: Y
    Row 3: Y
  Values in 'most_recent_sales_range':
    Row 0: A
    Row 1: A
    Row 2: A
    Row 3: A
  Values in 'most_recent_purchases_range':
    Row 0: C
    Row 1: C
    Row 2: C
    Row 3: C
  Values in 'avg_sales_lag3':
    Row 0: 1.12
    Row 1: 1.12
    Row 2: 0.79
    Row 3: 0.79
  Values in 'avg_purchases_lag3':
    Row 0: 1.09880478
    Row 1: 1.09880478
    Row 2: 0.78126835
    Row 3: 0.78126835
  Values in 'active_months_lag3':
    Row 0: 3
    Row 1: 3
    Row 2: 3
    Row 3: 3
  Values in 'avg_sales_lag6':
    Row 0: 1.26
    Row 1: 1.26
    Row 2: 0.63
    Row 3: 0.63
  Values in 'avg_purchases_lag6':
    Row 0: 1.20199203
    Row 1: 1.20199203
    Row 2: 0.6433255
    Row 3: 0.6433255
  Values in 'active_months_lag6':
    Row 0: 6
    Row 1: 6
    Row 2: 6
    Row 3: 6
  Values in 'avg_sales_lag12':
    Row 0: 1.44
    Row 1: 1.44
    Row 2: 0.42
    Row 3: 0.42
  Values in 'avg_purchases_lag12':
    Row 0: 1.31168659
    Row 1: 1.31168659
    Row 2: 0.40220689
    Row 3: 0.40220689
  Values in 'active_months_lag12':
    Row 0: 12
    Row 1: 12
    Row 2: 12
    Row 3: 12
  Values in 'category_4':
    Row 0: Y
    Row 1: Y
    Row 2: Y
    Row 3: Y
  Values in 'city_id':
    Row 0: -1
    Row 1: -1
    Row 2: -1
    Row 3: -1
  Values in 'state_id':
    Row 0: -1
    Row 1: -1
    Row 2: -1
    Row 3: -1
  Values in 'category_2':
    Row 0: nan
    Row 1: nan
    Row 2: nan
    Row 3: nan

Merchant ID: M_ID_30340088f2, 4 occurrences
  Entries differ in columns: ['merchant_id', 'merchant_group_id', 'merchant_category_id', 'subsector_id', 'numerical_1', 'numerical_2', 'category_1', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id', 'state_id', 'category_2']
  Values in 'merchant_id':
    Row 0: M_ID_30340088f2
    Row 1: M_ID_30340088f2
    Row 2: M_ID_30340088f2
    Row 3: M_ID_30340088f2
  Values in 'merchant_group_id':
    Row 0: 3318
    Row 1: 35
    Row 2: 3318
    Row 3: 35
  Values in 'merchant_category_id':
    Row 0: 544
    Row 1: 544
    Row 2: 544
    Row 3: 544
  Values in 'subsector_id':
    Row 0: 29
    Row 1: 29
    Row 2: 29
    Row 3: 29
  Values in 'numerical_1':
    Row 0: -0.05747065
    Row 1: -0.05747065
    Row 2: 0.11108272
    Row 3: 0.11108272
  Values in 'numerical_2':
    Row 0: -0.05747065
    Row 1: -0.05747065
    Row 2: -0.05747065
    Row 3: -0.05747065
  Values in 'category_1':
    Row 0: N
    Row 1: N
    Row 2: N
    Row 3: N
  Values in 'most_recent_sales_range':
    Row 0: E
    Row 1: E
    Row 2: C
    Row 3: C
  Values in 'most_recent_purchases_range':
    Row 0: E
    Row 1: E
    Row 2: D
    Row 3: D
  Values in 'avg_sales_lag3':
    Row 0: 1.0
    Row 1: 1.0
    Row 2: 0.84
    Row 3: 0.84
  Values in 'avg_purchases_lag3':
    Row 0: 1.0
    Row 1: 1.0
    Row 2: 1.08744856
    Row 3: 1.08744856
  Values in 'active_months_lag3':
    Row 0: 1
    Row 1: 1
    Row 2: 3
    Row 3: 3
  Values in 'avg_sales_lag6':
    Row 0: 1.0
    Row 1: 1.0
    Row 2: 0.84
    Row 3: 0.84
  Values in 'avg_purchases_lag6':
    Row 0: 1.0
    Row 1: 1.0
    Row 2: 1.08971193
    Row 3: 1.08971193
  Values in 'active_months_lag6':
    Row 0: 1
    Row 1: 1
    Row 2: 6
    Row 3: 6
  Values in 'avg_sales_lag12':
    Row 0: 1.0
    Row 1: 1.0
    Row 2: 0.9
    Row 3: 0.9
  Values in 'avg_purchases_lag12':
    Row 0: 1.0
    Row 1: 1.0
    Row 2: 1.10776504
    Row 3: 1.10776504
  Values in 'active_months_lag12':
    Row 0: 1
    Row 1: 1
    Row 2: 12
    Row 3: 12
  Values in 'category_4':
    Row 0: Y
    Row 1: Y
    Row 2: Y
    Row 3: Y
  Values in 'city_id':
    Row 0: 69
    Row 1: 69
    Row 2: 69
    Row 3: 69
  Values in 'state_id':
    Row 0: 9
    Row 1: 9
    Row 2: 9
    Row 3: 9
  Values in 'category_2':
    Row 0: 1.0
    Row 1: 1.0
    Row 2: 1.0
    Row 3: 1.0

Merchant ID: M_ID_d123532c72, 4 occurrences
  Entries differ in columns: ['merchant_id', 'merchant_group_id', 'merchant_category_id', 'subsector_id', 'numerical_1', 'numerical_2', 'category_1', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id', 'state_id', 'category_2']
  Values in 'merchant_id':
    Row 0: M_ID_d123532c72
    Row 1: M_ID_d123532c72
    Row 2: M_ID_d123532c72
    Row 3: M_ID_d123532c72
  Values in 'merchant_group_id':
    Row 0: 35
    Row 1: 49094
    Row 2: 35
    Row 3: 49094
  Values in 'merchant_category_id':
    Row 0: 385
    Row 1: 385
    Row 2: 385
    Row 3: 385
  Values in 'subsector_id':
    Row 0: 17
    Row 1: 17
    Row 2: 17
    Row 3: 17
  Values in 'numerical_1':
    Row 0: -0.05747065
    Row 1: -0.05747065
    Row 2: -0.05747065
    Row 3: -0.05747065
  Values in 'numerical_2':
    Row 0: -0.05747065
    Row 1: -0.05747065
    Row 2: -0.05747065
    Row 3: -0.05747065
  Values in 'category_1':
    Row 0: Y
    Row 1: Y
    Row 2: Y
    Row 3: Y
  Values in 'most_recent_sales_range':
    Row 0: D
    Row 1: D
    Row 2: D
    Row 3: D
  Values in 'most_recent_purchases_range':
    Row 0: E
    Row 1: E
    Row 2: C
    Row 3: C
  Values in 'avg_sales_lag3':
    Row 0: 0.81
    Row 1: 0.81
    Row 2: 0.88
    Row 3: 0.88
  Values in 'avg_purchases_lag3':
    Row 0: 1.0
    Row 1: 1.0
    Row 2: 0.94323342
    Row 3: 0.94323342
  Values in 'active_months_lag3':
    Row 0: 3
    Row 1: 3
    Row 2: 3
    Row 3: 3
  Values in 'avg_sales_lag6':
    Row 0: 0.99
    Row 1: 0.99
    Row 2: 0.79
    Row 3: 0.79
  Values in 'avg_purchases_lag6':
    Row 0: 1.24333333
    Row 1: 1.24333333
    Row 2: 0.89918256
    Row 3: 0.89918256
  Values in 'active_months_lag6':
    Row 0: 6
    Row 1: 6
    Row 2: 6
    Row 3: 6
  Values in 'avg_sales_lag12':
    Row 0: 1.33
    Row 1: 1.33
    Row 2: 0.65
    Row 3: 0.65
  Values in 'avg_purchases_lag12':
    Row 0: 1.615
    Row 1: 1.615
    Row 2: 0.70015895
    Row 3: 0.70015895
  Values in 'active_months_lag12':
    Row 0: 12
    Row 1: 12
    Row 2: 12
    Row 3: 12
  Values in 'category_4':
    Row 0: Y
    Row 1: Y
    Row 2: Y
    Row 3: Y
  Values in 'city_id':
    Row 0: -1
    Row 1: -1
    Row 2: -1
    Row 3: -1
  Values in 'state_id':
    Row 0: -1
    Row 1: -1
    Row 2: -1
    Row 3: -1
  Values in 'category_2':
    Row 0: nan
    Row 1: nan
    Row 2: nan
    Row 3: nan

Merchant ID: M_ID_ebbdb42da6, 4 occurrences
  Entries differ in columns: ['merchant_id', 'merchant_group_id', 'merchant_category_id', 'subsector_id', 'numerical_1', 'numerical_2', 'category_1', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id', 'state_id', 'category_2']
  Values in 'merchant_id':
    Row 0: M_ID_ebbdb42da6
    Row 1: M_ID_ebbdb42da6
    Row 2: M_ID_ebbdb42da6
    Row 3: M_ID_ebbdb42da6
  Values in 'merchant_group_id':
    Row 0: 1014
    Row 1: 35
    Row 2: 1014
    Row 3: 35
  Values in 'merchant_category_id':
    Row 0: 383
    Row 1: 383
    Row 2: 383
    Row 3: 383
  Values in 'subsector_id':
    Row 0: 2
    Row 1: 2
    Row 2: 2
    Row 3: 2
  Values in 'numerical_1':
    Row 0: 0.01193368
    Row 1: 0.01193368
    Row 2: -0.05747065
    Row 3: -0.05747065
  Values in 'numerical_2':
    Row 0: -0.00789613
    Row 1: -0.00789613
    Row 2: -0.05747065
    Row 3: -0.05747065
  Values in 'category_1':
    Row 0: Y
    Row 1: Y
    Row 2: Y
    Row 3: Y
  Values in 'most_recent_sales_range':
    Row 0: E
    Row 1: E
    Row 2: A
    Row 3: A
  Values in 'most_recent_purchases_range':
    Row 0: E
    Row 1: E
    Row 2: A
    Row 3: A
  Values in 'avg_sales_lag3':
    Row 0: 0.9
    Row 1: 0.9
    Row 2: 0.95
    Row 3: 0.95
  Values in 'avg_purchases_lag3':
    Row 0: 1.19607843
    Row 1: 1.19607843
    Row 2: 0.96784768
    Row 3: 0.96784768
  Values in 'active_months_lag3':
    Row 0: 3
    Row 1: 3
    Row 2: 3
    Row 3: 3
  Values in 'avg_sales_lag6':
    Row 0: 1.41
    Row 1: 1.41
    Row 2: 0.86
    Row 3: 0.86
  Values in 'avg_purchases_lag6':
    Row 0: 1.92156863
    Row 1: 1.92156863
    Row 2: 0.8966276
    Row 3: 0.8966276
  Values in 'active_months_lag6':
    Row 0: 6
    Row 1: 6
    Row 2: 6
    Row 3: 6
  Values in 'avg_sales_lag12':
    Row 0: 1.38
    Row 1: 1.38
    Row 2: 0.76
    Row 3: 0.76
  Values in 'avg_purchases_lag12':
    Row 0: 1.80147059
    Row 1: 1.80147059
    Row 2: 0.79832203
    Row 3: 0.79832203
  Values in 'active_months_lag12':
    Row 0: 12
    Row 1: 12
    Row 2: 12
    Row 3: 12
  Values in 'category_4':
    Row 0: Y
    Row 1: Y
    Row 2: Y
    Row 3: Y
  Values in 'city_id':
    Row 0: -1
    Row 1: -1
    Row 2: -1
    Row 3: -1
  Values in 'state_id':
    Row 0: -1
    Row 1: -1
    Row 2: -1
    Row 3: -1
  Values in 'category_2':
    Row 0: nan
    Row 1: nan
    Row 2: nan
    Row 3: nan

In [10]:
# Cell 14: Analyze duplicate patterns more deeply
print("\n=== Further Duplicate Analysis ===")

# Check how many duplicate merchants have 35 as one of their merchant_group_ids
duplicate_with_grp_35 = 0
for m_id in duplicate_ids.index:
    if 35 in merchant[merchant['merchant_id'] == m_id]['merchant_group_id'].values:
        duplicate_with_grp_35 += 1

print(f"Duplicate merchants with group_id 35: {duplicate_with_grp_35} out of {len(duplicate_ids)}")

# Check if duplicates generally come in pairs with the same number of rows
duplicate_counts = id_counts[id_counts > 1].value_counts()
print("\nCounts of duplicate occurrences:")
print(duplicate_counts)

# Cell 15: Handle Duplicates
print("\n=== Handling Duplicates ===")

# Strategy 1: Remove entries with merchant_group_id = 35 if duplicated
merchant_clean = merchant.copy()
dupe_mask = merchant['merchant_id'].isin(duplicate_ids.index)
grp_35_mask = merchant['merchant_group_id'] == 35
remove_mask = dupe_mask & grp_35_mask

print(f"Removing {remove_mask.sum()} rows with duplicated merchant_id and group_id 35")
merchant_clean = merchant_clean[~remove_mask]
print(f"Shape after removing group 35 duplicates: {merchant_clean.shape}")

# Check if we've resolved all duplicates
remaining_dupes = merchant_clean['merchant_id'].value_counts()
remaining_dupes = remaining_dupes[remaining_dupes > 1]
print(f"Remaining duplicated merchant IDs: {len(remaining_dupes)}")

if len(remaining_dupes) > 0:
    # Strategy 2: For any remaining duplicates, keep the first occurrence
    print("Removing remaining duplicates by keeping first occurrence")
    merchant_clean = merchant_clean.drop_duplicates(subset=['merchant_id'], keep='first')
    print(f"Final shape after removing all duplicates: {merchant_clean.shape}")

# Verify no duplicates remain
final_check = merchant_clean['merchant_id'].value_counts()
final_dupes = final_check[final_check > 1]
print(f"Final duplicate check: {len(final_dupes)} duplicated merchant IDs")

=== Further Duplicate Analysis ===
Duplicate merchants with group_id 35: 40 out of 41

Counts of duplicate occurrences:
count
2    30
4    11
Name: count, dtype: int64

=== Handling Duplicates ===
Removing 80 rows with duplicated merchant_id and group_id 35
Shape after removing group 35 duplicates: (334616, 22)
Remaining duplicated merchant IDs: 12
Removing remaining duplicates by keeping first occurrence
Final shape after removing all duplicates: (334604, 22)
Final duplicate check: 0 duplicated merchant IDs

In [8]:
# Cell 6: Numerical Columns Distribution
print("\n=== Numerical Columns Distribution ===")
numerical_cols = merchant.select_dtypes(include=['float64', 'int64']).columns
merchant[numerical_cols].describe().T

=== Numerical Columns Distribution ===

/home/psl/anaconda3/envs/SC4000/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/psl/anaconda3/envs/SC4000/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/home/psl/anaconda3/envs/SC4000/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,count,mean,std,min,25%,50%,75%,max
merchant_group_id,334696.0,3.102874e+04,31623.043426,1.000000,3612.000000,19900.000000,51707.250000,1.125860e+05
merchant_category_id,334696.0,4.231317e+02,252.898046,-1.000000,222.000000,373.000000,683.000000,8.910000e+02
subsector_id,334696.0,2.511640e+01,9.807371,-1.000000,19.000000,27.000000,33.000000,4.100000e+01
numerical_1,334696.0,1.147638e-02,1.098154,-0.057471,-0.057471,-0.057471,-0.047556,1.837351e+02
numerical_2,334696.0,8.103110e-03,1.070497,-0.057471,-0.057471,-0.057471,-0.047556,1.820793e+02
avg_sales_lag3,334683.0,1.383299e+01,2395.489999,-82.130000,0.880000,1.000000,1.160000,8.518446e+05
avg_purchases_lag3,334696.0,inf,NaN,0.333495,0.923650,1.016667,1.146522,inf
active_months_lag3,334696.0,2.994108e+00,0.095247,1.000000,3.000000,3.000000,3.000000,3.000000e+00
avg_sales_lag6,334683.0,2.165079e+01,3947.108099,-82.130000,0.850000,1.010000,1.230000,1.513959e+06
avg_purchases_lag6,334696.0,inf,NaN,0.167045,0.902247,1.026961,1.215575,inf
active_months_lag6,334696.0,5.947397e+00,0.394936,1.000000,6.000000,6.000000,6.000000,6.000000e+00
avg_sales_lag12,334683.0,2.522771e+01,5251.842165,-82.130000,0.850000,1.020000,1.290000,2.567408e+06
avg_purchases_lag12,334696.0,inf,NaN,0.098330,0.898333,1.043361,1.266480,inf
active_months_lag12,334696.0,1.159933e+01,1.520138,1.000000,12.000000,12.000000,12.000000,1.200000e+01
city_id,334696.0,1.029179e+02,107.090673,-1.000000,-1.000000,69.000000,182.000000,3.470000e+02
state_id,334696.0,1.186094e+01,6.176889,-1.000000,9.000000,9.000000,16.000000,2.400000e+01
category_2,322809.0,2.380002e+00,1.562661,1.000000,1.000000,2.000000,4.000000,5.000000e+00